<html><head>
  <title>WebSocket Chat</title>
	<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script type='text/javascript'>
	var escaped_html = function(str) {
		return str.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
	}
	</script>

</head>


<body>
<%= yield %>
</body></html>